.button{
    background-color: #6278f7;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: white;
    margin: 16px 0;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
}

.button:hover{
    color: #95ffd4;
}